@import "../abstracks/variables";

@mixin btn {
    display: inline-block;
    background: $btn-bg;
    color: white;
    padding: 15px 18px;
    font-weight: $title-weigth;
    border-radius: 25px;
}

@mixin number {
    background-color: $number-bg;
    width: 24px;
    height: 24px;
    padding: 4.5px 8.4px;
    border-radius: 50%;
    font-size: 14px;
    color: #fff;
    font-weight: $title-weigth;
    margin-right: 18.4px;
}

