@import "../abstracks/variables",
"../abstracks/mixins";

.btn {
    @include btn;

    &__link {
        color: inherit;
    }
}

.about__hero {
    .btn {
        width: 186px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
}

